{% extends 'base.html' %}

{% block title %} Carepro {% endblock %}

{% block sidebar %}
    <div class="text-center">
      <img class="img-circle" src="{{ MEDIA_URL }}{{ request.user.restaurant.logo }}"
          width="70" height="70" />
      <br/>
      <br/>
      <h4>Hi, {{ request.user.get_full_name }}</h4>
      <h5>{{ request.user.carepro.name }}</h5>
    </div>

    <div class="list-group">
      <span class="text-uppercase">Dashboard</span>

      <a href="{% url 'carepro-order' %}" class="list-group-item">Orders</a>
      <a href="{% url 'carepro-report' %}" class="list-group-item">Reports</a>
      <a href="{% url 'carepro-care' %}" class="list-group-item">Care Options</a>
      <span class="text-uppercase">Profile</span>
      <a href="{% url 'carepro-account' %}" class="list-group-item">Account</a>
    </div>

    <div class="text-center">
      <a href="{% url 'carepro-sign-out' %}?next={{ request.path }}"
          class="btn btn-pink">Logout</a>
    </div>

{% endblock %}